/* Анимация переливания состояния из черного в зеленый */
.state-indicator {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
    text-align: left;
    font-weight: 600;
    animation: colorPulse 2s infinite;
}

@keyframes colorPulse {
    0% {
        color: #000;
    }
    50% {
        color: #32CD32;
    }
    100% {
        color: #000;
    }
}